.citations{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}

.citations h1{
  background: linear-gradient(to right, var(--pink) 0%, white 100%);
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fontColorChange 4s linear infinite;
  font-size: 35px;
}
@keyframes fontColorChange {
  100%{
    background-position: 300%}}

.citations h3{
  margin-top: 2rem;
}

ul li{
  margin-top: 1rem;
  color: var(--pink);
}

a{
  color: var(--yellow);
}
