$white:#FFF;
$black:#000;
$pink:#EFB2B2;
$gray: #2B2B2D;
$tangerine:#C08B81;
$color3:#45a049;
$color4:rgba(0,0,0,0);
$color5:rgba(0,0,0,0.19);

.contact {
  margin-top: 5rem;
  border-radius: 5px;
  background-color: $black;
  padding: 20px;
  margin-left: 20%;
  margin-right: 20%;
  box-shadow: 0 10px 12px 0 rgba(0,0,0,0.24),0 17px 20px 0 $color5;
}
.title {
  h1 {
    background: linear-gradient(to right, $pink 0%, $white 100%);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fontColorChange 4s linear infinite;
    font-size: 35px;
    font-size: 30px;
    font-size: 25px;
    font-size: 25px;
  }
}
@keyframes {
  fontColorChange {
    100%{
    background-position: 300%;
  }
}
} {
  .title {
    h5 {
      text-align: center;
    }
  }
  @media {
    only {
      screen {
        and {
          (max-width {
            &:760px) {
              .contact{
    margin-left: 10%;
              margin-right: 10%;
            }
            &:500px) {
              .contact{
    margin-left: 5%;
              margin-right: 5%;
            }
          }
        }
      }
    }
  }
  /* Animation */
  @keyframes {
    hvr-pulse-grow {
      to {
    -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  .hvr-pulse-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
}
.table {
  margin-top: 3rem;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid $pink;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: $gray;
  color: $gray;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input,textarea {
  background-color: $gray;
}
input[type=submit]:hover {
  background-color: $color3;
}
label {
  color: $pink;
}
.add-btn {
  display: flex;
  justify-content: flex-end;
  a {
    background-color: $pink;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2rem;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    &:hover {
      background-color: $tangerine;
    }
    &:focus {
      background-color: $pink;
    }
  }
}
@media {
  only {
    screen {
      and {
        (max-width {
          &:1070px) {
            .contact{
    margin-left: 10%;
            margin-right: 10%;
          }
        }
      }
    }
  }
}
@-webkit-keyframes {
  hvr-pulse-grow {
    to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
