* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid pink; */
}

#web-part{
  margin-top: 5rem;
  margin-left: 5%;
  margin-right: 5%;
}

.web-part h1{
  font-size: 35px;
  text-align: left;
}

.web-part h2{
  margin-top: 1.5rem;
  text-align: center;
}

.web-part-one{
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.web-part-one-left{
  /* border: 1px solid pink; */
  position: relative;
  height: 40vh;
  width: 35%;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #C08B81; */

}

.web-part-one-right{
  width: 50%;
}

/* .web3, .web4{
  height:auto;
  width:80%;
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  display:none;
} */

.web3{
  height:auto;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  display:none;
  text-align: center;
}

.indicate{
    /* border:5px solid green; */
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* height:50vw; */
    height:100%;
    width: 100%;
    position:absolute;
    text-align:center;
    font-size: bolder;

}

@media only screen and (max-width:1200px){
  .indicate{
    height: 80%;
  }
}

@media only screen and (max-width:980px){
  .indicate{
    height: 60%;
  }
}


#previous,#next{
  color:black;
  font-size: 22px;
}

.web3 img{
  width: 100%;
}

.web-part-one-right p{
  line-height: 25px;
}

.web-part-two{
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.web-part-two-right{
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.web-part-two-left{
  width: 50%;
}

.web1, .web2{
  width: 40%;
}

.web1 img, .web2 img{
  width: 100%;
}

.web-part-one-right p{
  line-height: 25px;
}

.web-part-two-left p{
  line-height: 25px;
}

#poster-part{
  background-color: black;
  margin-top: 8rem;
  border: 1px solid black;
  /* margin-left: 5%;
  margin-right: 5%; */
}

.poster-section{
  margin: 5%;
}

.poster-part h2{
  text-align: center;
}

.poster-part-one{
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.poster-part-one-left{
  width: 50%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.poster-part-one-left img{
  width: 45%;
}

.poster-part-one-right{
  width: 50%;
}

.poster-part-one-right p{
    line-height: 25px;
}

@media only screen and (max-width:850px){

  .web-part-one{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .web-part-one-left{
    height: 55vw;
    width: 100%;
  }

  .web-part-one-right{
    width: 100%;
  }

  .web-part-one-right h3{
    margin-top: 2rem;
  }

  .web-part-two{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 4rem;
  }

  .web-part-two-right{
    width: 100%;
  }

  .web-part-two-left p{
    width: 100%;
  }
  .web-part-two-left{
    width: 100%;
  }

  .web-part-two-left h3{
    margin-top: 3rem;
  }

  .poster-part-one{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .poster-part-one-left{
    width: 100%;
  }

  .poster-part-one-right{
    width: 100%;
  }

  .poster-part-one-right h3{
    margin-top: 2rem;
  }

  .indicate{
    height: 100%;
  }

}

@media only screen and (max-width:580px){
  .web-part h2{
    font-size: 22px;
  }
}

@media only screen and (max-width:400px){
  .web-part h2{
    font-size: 20px;
  }

  .poster-section h2{
    margin-top: 1.5rem;
    font-size: 20px;
  }

  .web-part-one-right h3{
    font-size: 18px;
  }

  .poster-part-one-right h3{
    font-size: 18px;
  }

  .web3{
    width: 100%;
  }

  .web-part-two-right{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .web1{
    width: 70%;
  }

  .web2{
    margin-top: 1.5rem;
    width: 70%;
  }
}

/* animation */
.web-part-one-left {
  display: inline-block;
  margin: 0 0.5rem;

  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
