
#web-part{
  margin-top: 5rem;
  margin-left: 5%;
  margin-right: 5%;
}

#web-part h1{
  background: linear-gradient(to right, #EFB2B2 0%, #FFF 100%);
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fontColorChange 4s linear infinite;
  font-size: 35px;
  text-align: left;
}

@keyframes fontColorChange {
  100%{
    background-position: 300%}}

.web-part h2{
  margin-top: 1.5rem;
  text-align: center;
}

.web-part-one{
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.web-part-one-left{
  /* border: 1px solid pink; */
  position: relative;
  height: 40vh;
  width: 35%;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #C08B81; */

}

.web-part-one-right{
  width: 50%;
}

.web3{
  height:auto;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  display:none;
  text-align: center;
}

.indicate{
    /* border:5px solid green; */
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* height:50vw; */
    height:100%;
    width: 100%;
    position:absolute;
    text-align:center;

}

@media only screen and (max-width:1200px){
  .indicate{
    height: 80%;
  }
}

@media only screen and (max-width:980px){
  .indicate{
    height: 60%;
  }
}


#previous,#next{
  color:#000;
  font-size: 22px;
}

.web3 img{
  width: 100%;
}

.web-part-one-right p{
  line-height: 25px;
}

.web-part-two{
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.web-part-two-right{
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.web-part-two-left{
  width: 50%;
}

.web1, .web2{
  width: 40%;
}

.web-part-one-right h3{
  margin-top: 2rem;
}

.web-part-two-left h3{
  margin-top: 2rem;
}


.web1 img, .web2 img{
  width: 100%;
  /* -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; */
}

.web1 img:hover, .web2 img:hover{
  transform:scale(1.12);
  transition: .4s;
}

.web-part-one-right p{
  line-height: 25px;
}

.web-part-two-left p{
  line-height: 25px;
}

#poster-part{
  background-color: #000;
  margin-top: 8rem;
  border: 1px solid #000;
  margin-top: 5rem;

  /* margin-left: 5%;
  margin-right: 5%; */
}

.poster-section{
  margin: 5%;
}

#poster-part h5{
  margin-top: 2%;
  margin-left: 5%;
}

#poster-part h1{
  margin-left: 5%;
  background: linear-gradient(to right, #EFB2B2 0%, #FFF 100%);
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fontColorChange 4s linear infinite;
  font-size: 35px;
  text-align: left;
}

.poster-part-one{
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.poster-part-one-left{
  width: 50%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.poster-part-one-left img{
  width: 45%;
}

.poster-part-one-right{
  width: 50%;
  margin-bottom: 3%;
}

.poster-part-one-right p{
    line-height: 25px;
}

.poster-part-one-right h3{
  margin-top: 2rem;
}

@media only screen and (max-width:850px){

  .web-part-one{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .web-part-one-left{
    height: 55vw;
    width: 100%;
  }

  .web-part-one-right{
    width: 100%;
  }

  .web-part-one-right h3{
    margin-top: 2rem;
  }

  .web-part-two{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 4rem;
  }

  .web-part-two-right{
    width: 100%;
  }

  .web-part-two-left p{
    width: 100%;
  }
  .web-part-two-left{
    width: 100%;
  }

  .web-part-two-left h3{
    margin-top: 3rem;
  }

  .poster-part-one{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .poster-part-one-left{
    width: 100%;
  }

  .poster-part-one-right{
    width: 100%;
  }

  .poster-part-one-right h3{
    margin-top: 2rem;
  }

  .indicate{
    height: 100%;
  }

}

@media only screen and (max-width:580px){
  #web-part h1{
    font-size: 30px;
  }

  #poster-part h1{
    font-size: 30px;
  }
}

@media only screen and (max-width:400px){
  #web-part h1{
    font-size: 27px;
  }

  #poster-part h1{
    font-size: 27px;
  }

  .web-part h2{
    font-size: 20px;
  }

  .poster-section h2{
    margin-top: 1.5rem;
    font-size: 20px;
  }

  .web-part-one-right h3{
    font-size: 18px;
  }

  .poster-part-one-right h3{
    font-size: 18px;
  }

  .web3{
    width: 100%;
  }

  .web-part-two-right{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .web1{
    width: 70%;
  }

  .web2{
    margin-top: 1.5rem;
    width: 70%;
  }
}

/* game design */
#game-part{
  margin-top: 5rem;
  margin-left: 5%;
  margin-right: 5%;
}

#game-part h1{
  background: linear-gradient(to right, #EFB2B2 0%, #FFF 100%);
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fontColorChange 4s linear infinite;
  font-size: 35px;
  text-align: left;
}

@keyframes fontColorChange {
  100%{
    background-position: 300%}}


.game-part-one{
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game-part-one-left{
  /* border: 1px solid pink; */
  width: 40%;
}

.game-part-one-left img{
  width:100%;
}

.game-part-one-right{
  width: 50%;
}

.game-part-one-right p{
  line-height: 25px;
}

.game-part-two{
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.game-part-two-right{
  width: 40%;
}

.game-part-two-right img{
  width: 100%;
}

.game-part-two-left{
  width: 50%;
}

.game-part-one-right h3{
  margin-top: 2rem;
}

.game-part-two-left h3{
  margin-top: 2rem;
}


.game-part-one-right p{
  line-height: 25px;
}

.game-part-two-left p{
  line-height: 25px;
}

@media only screen and (max-width:850px){
  /* #game-part h1{
    font-size: 10px;
  } */

  .game-part-one{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .game-part-one-left{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .game-part-one-left img{
    width: 80%;
  }

  .game-part-one-right{
    margin-top: 3rem;
    width: 100%;
  }

  .game-part-two{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  .game-part-two-right{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .game-part-two-right img{
    width: 80%;
  }

  .game-part-two-left{
    margin-top: 3rem;
    width: 100%;
  }
}

@media only screen and (max-width:580px){
  #poster-part h1{
    font-size: 30px;
  }

}

@media only screen and (max-width:400px){
  #game-part h1{
    font-size: 27px;
  }

  .game-part h2{
    font-size: 20px;
  }

  .game-part-one-right h3{
    font-size: 18px;
  }

  .game-part-two-left h3{
    font-size: 18px;
  }

}
