.head{
  min-height: 100vh;
}

.header-background{
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  height: 100%;
}

.picture{
  position: absolute;
  background-image: url("../img/header.jpg");
  z-index: -1;
  width: 100%;
  min-height: 100vh;
}

.header-info{
  margin-top: 3rem;
  margin-left: 10%;
  margin-right: 10%;
}

.header-info h1{
  text-align: left;
  font-size: 72px;
}

/* .a-designer h1{
  margin-top: -3.5rem;
} */

.header-info-name{
  width:40%;
  border:none;
}

.header-info-text{
  /* margin-top: 2rem; */
  background-color: rgba(255, 255, 255, 0.5);
  width: 40%;
}

.header-info-text-all{
  margin: 2rem;
}

.header-info-text h3{
  font-size: 30px;
}

.header-info-text p{
  line-height: 25px;
}

.about-me a{
  color: #F2BD56;
}

.line{
  background-color: #F2BD56;
  width: 100px;
  height: 10px;
}

.header-info-icon{
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

.header-icon2{
  display: none;
}

.header-info-icon2{
  /* display: none; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%
}

.header-info-icon-all{
  display: flex;
  justify-content: center;
  width:100%;
}


.header-info-icon-all img{
  width:30px;
  height: 30px;
  transition: transform 0.3s;
  text-align: center;
}

.header-info-icon-all img:hover{
  transform: scale(1.2);
  cursor: pointer;
}

.about-me h5:hover{
  color: #EFB2B2;
  transition: .5s ease;
}

.about-me h5:focus{
  color: #F2BD56;
}

/* about me */
#intro{
  /* border: 1px solid green; */
  margin-top: 4rem;
}

.intro-part{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.intro-left{
  width:50%;
}

.intro-right{
  margin-top: 2rem;
  width:50%;
}

#intro-left-text{
  margin-left: 22%;
  margin-right: 22%;
}

#intro-left-text h3, #intro-right-text h3{
  font-size: 25px;
}

#intro-left-text p{
  margin-top: 2rem;
  line-height: 30px;
}

.intro-right-text{
  margin-right: 20%;
}

.intro-right-num{
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.intro-text-left{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 45%;
}

.intro-num-left{
  width: 22%;
}

.intro-num-right{
  /* margin-top: 0.5rem; */
  width: 70%;
  /* margin-left: 1rem; */
}

.intro-num-right p{
  color: #F3EAE0;

}

.intro-num-left h1{
  text-align: center;
  font-size: 40px;
  color: #F2BD56;
}

.intro-right-text-p{
  margin-top: 2rem;
}

.intro-right-text-p p{
  text-align: left;
  /* font-size: 10px; */
  /* color:#865E5E; */
  /* font-weight: bolder; */
}


.SIAT {
  margin-top: -1rem;
  /* margin-left:1rem; */
}

.design{
  margin-top: 2rem;
  width: 100%;
}

.design-item{
  display: flex;
  justify-content:center;
  text-align:center;
  max-width: 800px;
  margin: auto;
  /* align-items: center; */
}

.website, .poster, .game{
  background-color: #373737;
  width: 230px;
  margin: 2rem;
  display: flex;
  justify-content:space-evenly;
  height: 230px;
  box-shadow: 0 10px 12px 0 rgba(0,0,0,0.24),0 17px 20px 0 rgba(0,0,0,0.19);

}

.website-icon, .poster-icon, .game-icon{
  margin-top: 6rem;
}

.website-icon img, .poster-icon img, .game-icon img{
  margin-top: 1rem;
  width: 30px;
}

.website-font, .poster-font, .game-font{
  margin-top: 7rem;
  width: 65%;
}

.website-font h3, .poster-font h3, .game-font h3{
  text-align: left;
  color: #F3EAE0;
}

.website:hover, .poster:hover, .game:hover{
    background-color: #C08B81;
    transition: 0.5s;
}

.design-h3 h3{
  color:#F3EAE0;
}

.design-h3 p{
  text-align: left;
  color: #F2BD56;
}

.black{
  margin-top: -10rem;
  height: 100vh;
}

.black-rect{
  margin-top: -11rem;
  width: 100%;
  height: 40vh;
  background-color: #000;
}

.footer{
  margin-top: -23rem;
}

/* mobile */
@media only screen and (max-width:1200px){
  .header-info{
    margin-top: 3rem;
    margin-left: 5%;
    margin-right: 5%;
  }

  .header-info h1{
    text-align: left;
    font-size: 60px;
  }

  .header-info-text h3{
    font-size: 25px;
  }

  .line{
    width: 80px;
    height: 8px;
  }

}

@media only screen and (max-width:1000px){
  .header-info{
    margin-top: 3rem;
    margin-left: 5%;
    margin-right: 5%;
  }

  .header-info h1{
    text-align: left;
    font-size: 45px;
  }

  .header-info-text h3{
    font-size: 20px;
  }

  .header-info-text{
    /* margin-top: 2rem; */
    background-color: rgba(255, 255, 255, 0.5);
    width: 48%;
  }
}

@media only screen and (max-width:850px){
  .header-info{
    margin-top: 0rem;
    margin-left: 5%;
    margin-right: 5%;

  }

  .header-info>div{
    flex-basis: 90%;
  }

  .header-intro-name{
    width:90%;
  }

  .header-intro-text{
    width:90%;
  }

  .header-info h1{
    text-align: center;
    font-size: 45px;
    margin-bottom: 2rem;
  }

  .header-info-text h3{
    font-size: 20px;
  }

  .line{
    display: none;
  }

  .header-info-icon{
    display: none;
  }

  .header-info-icon2{
    margin-top: 1rem;
    text-align: right;
  }

  .header-icon2{
    display: block;
  }

  #arrow{
    width: 15px;
    height: 15px;
    top: 40px;

  }


}

@media only screen and (max-width:400px){
  .header-info h1{
    text-align: center;
    font-size: 35px;
    margin-bottom: 2rem;
  }

  .header-info-text h3{
    font-size: 18px;
  }
}

@media only screen and (max-width:1000px){
  #intro-left-text h3, #intro-right-text h3{
    font-size: 20px;
  }
}

@media only screen and (max-width:850px){
  .intro-part{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .intro-left{
    width: 80%;
  }

  .intro-right{
    width: 80%;
  }

  #intro-left-text{
    margin-left: 10%;
    margin-right: 10%;
  }

  .intro-right-text{
    margin-left: 10%;
    margin-right: 10%;
  }

  .website, .poster, .game{
    width: 150px;
    height: 150px;
  }

  .website-icon, .poster-icon, .game-icon{
    margin-top: 3.5rem;
  }

  .website-font, .poster-font, .game-font{
    margin-top: 4.5rem;
    width: 65%;
  }

  .website-font h3, .poster-font h3, .game-font h3{
    font-size: 16px;
  }

  .design-h3 h3{
    font-size: 16px;
  }
}

@media only screen and (max-width:680px){
  .design-item{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .website, .poster, .game{
    width: 200px;
    height: 200px;
  }

}

/* Animation scoll down */
#arrow {
  position: relative;
  top: 50px;
  margin: auto;
  border: 5px solid #FFF;
  border-right: none;
  border-top: none;

  /* Create the arrow by rotating the     two borders */
  width: 20px;
	height: 20px;
  -webkit-transform: rotate(-45deg);
  -webkit-transform-origin: 50% 50%;

   -webkit-animation: down 3s infinite;
  -moz-animation:    down 3s infinite;
  -o-animation:      down 3s infinite;
  animation:         down 3s infinite;
}

@-webkit-keyframes down {
  0% { height: 20px; width: 20px; }
  50%   { height: 30px; width: 30px; }
  100% { height: 20px; width: 20px; }
}
@-moz-keyframes down {
  0% { height: 20px; width: 20px; }
  50%   { height: 30px; width: 30px; }
  100% { height: 20px; width: 20px; }
}
@-o-keyframes down {
  0% { height: 20px; width: 20px; }
  50%   { height: 30px; width: 30px; }
  100% { height: 20px; width: 20px; }
}
@keyframes down {
  0% { height: 20px; width: 20px; }
  50%   { height: 30px; width: 30px; }
  100% { height: 20px; width: 20px; }
}

/* Heading print animation*/


.header-info-text-all h3{
    -webkit-animation: hue 6s infinite linear;
}

@-webkit-keyframes hue {
    0%{
        color: #EFB2B2;
    }
    50% {
        color: #feab3a;
    }
    100%{
        color: #EFB2B2;
    }
}
