* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid pink; */
}

.head{
  height: 100vh;
}

.header-background{
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  height: 100%;
}

.picture{
  position: absolute;
  background-image: url("../img/header.jpg");
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.header-info{
  margin-top: 3rem;
  margin-left: 10%;
  margin-right: 10%;
}

.header-info h1{
  text-align: left;
  font-size: 72px;
}

/* .a-designer h1{
  margin-top: -3.5rem;
} */

.header-info-name{
  width:40%
}

.header-info-text{
  /* margin-top: 2rem; */
  background-color: rgba(255, 255, 255, 0.5);
  width: 380px;
}

.header-info-text-all{
  margin: 2rem;
}

.header-info-text h3{
  font-size: 30px;
}

.header-info-text p{
  line-height: 25px;
}

.line{
  background-color: #F2BD56;
  width: 100px;
  height: 10px;
}

.header-info-icon{
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

.header-info-icon-all{
  display: flex;
  justify-content: center;
  width:100%;
}


.header-info-icon-all img{
  width:30px;
  text-align: center;
}

.header-info-text h5:hover{
  color: #C08B81;
  transition: .5s ease;
}

.header-info-text h5:focus{
  color: #865E5E;
}

/* about me */
.intro{
  margin-top: 14rem;
}

.intro-part{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.intro-left{
  width:50%;
}

.intro-right{
  margin-top: 2rem;
  width:50%;
}

.intro-left-text{
  margin-left: 22%;
  margin-right: 22%;
}

.intro-left-text h3, .intro-right-text h3{
  font-size: 25px;
}

.intro-left-text p{
  margin-top: 2rem;
  line-height: 30px;
}

.intro-right-text{
  margin-right: 20%;
}

.intro-right-num{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.intro-text-left{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 45%;
}

.intro-num-left{
  width: 22%;
}

.intro-num-right{
  width: 70%;
}

.intro-num-right p{
  color: #EFB2B2;
}

.intro-num-left h1{
  text-align: center;
  font-size: 40px;
  color: #F2BD56;
}

.intro-right-text-p{
  margin-top: 2rem;
}

.intro-right-text-p p{
  text-align: left;
  /* font-size: 10px; */
  /* color:#865E5E; */
  /* font-weight: bolder; */
}


.SIAT {
  margin-top: -1rem;
}

.design{
  margin-top: 2rem;
  width: 100%;
}

.design-item{
  display: flex;
  justify-content:center;
  text-align:center;
  margin-left: 20%;
  margin-right: 20%;
  /* align-items: center; */
}
.website, .poster, .game{
  background-color: #373737;
  width: 230px;
  margin: 2rem;
  display: flex;
  justify-content:space-evenly;
  height: 230px;
  box-shadow: 0 10px 12px 0 rgba(0,0,0,0.24),0 17px 20px 0 rgba(0,0,0,0.19);
}

.website-icon, .poster-icon, .game-icon{
  margin-top: 6rem;
}

.website-icon img, .poster-icon img, .game-icon img{
  margin-top: 1rem;
  width: 30px;
}

.website-font, .poster-font, .game-font{
  margin-top: 7rem;
  width: 65%;
}

.website-font h3, .poster-font h3, .game-font h3{
  text-align: left;
  color: #F3EAE0;
}

.website:hover, .poster:hover, .game:hover{
    background-color: #C08B81;
    transition: 0.5s;
}

.design-h3 h3{
  color:#F3EAE0;
}

.design-h3 p{
  text-align: left;
  color: #F2BD56;
}

.black{
  margin-top: -10rem;
  height: 100vh;
}

.black-rect{
  margin-top: -11rem;
  width: 100%;
  height: 40vh;
  background-color: black;
}

/* Animation*/
.intro{
  display: inline-block;
  margin: 0 0.5rem;

  animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
